*body {
    margin:0px;
    border: 0px;
}
.main {
    background-color: black;
}
a, p, h1,h2,h3,h4,h5,h6 {
    text-decoration: none;
    color:white;
}
i {
    font-size: 36px!important;
}
.nav {
    background-color: #222;
    height: 100%;
    width: 150px;
    position: fixed!important; /* Fixed side bar */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden;
    text-align: center;
    padding: 5px;
}
.nav a {
    padding: 6px 8px 6px 16px;
    display: block;
}
.nav-sm {
    display: none;
}
.page-content {
    margin-left: 160px;
    display: block;
    padding: 0px 10px;
    overflow-x: hidden; /* Disable horizontal scroll*/
}
.header {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.head-image {
    padding: 0px 10px;
    vertical-align: middle;
    width: 992px;
    height: 1108px;
    max-width: 100%;
}
.jumbo {
    font-size: 64px!important;
}
.about-section {
    display: inline-block;
}
.about-section h2, h3, p {
    font-family: Verdana, sans-serif;
    font-weight: lighter;
}
.about-section h2 {
    font-size: 1.5em;
}
.about-section h3 {

}
.about-section p {
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    color: #757575;
}










.footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}
