.tour {
    width: 360px;
    display: inline-block;
    text-align: center;
    border: 2px solid #cbce19c0;
    margin: 5px 10px 5px 10px;
    border-radius: 10px;
    padding: 10px;
}
.tour img {
    width:350px;
}
.tour img:hover {
    color: black;
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
.footer-copy {
    color: red;
}